<%- include('../partials/header') %>

<div class="content browse-page">
    <h1><%= title %></h1>
    <div class="activity-grid">
        <table>
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Vibe</th>
                </tr>
            </thead>
            <tbody>
                <% activities.forEach(function(a) { %>
                    <% if(a.public || (user && user._id.equals(a.user))) { %> 
                        <tr>
                            <td>
                                <a href= "/activities/<%= a._id %>"><%= a.title %></a>
                            </td>
                            <td>
                                <%= a.category %>
                            </td>
                            <td>
                                <%= a.location %>
                            </td>
                            <td>
                                <%= a.vibe %>
                            </td>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>
    </div>
    <form action = "/activities/new">
        <button type="submit">Add New Activity</button>
    </form>
</div>

<%- include('../partials/footer') %>
