<%- include('./partials/header') %>

<div class="content">
    <h2>Browse Activities by Category</h2>
    <div class = "activities-grid">
        <% activities.forEach(function(a) { %>
            <% if(a.public || (user && user._id.equals(a.user))) { %> 
                <div class="activity-block">
                    <a href= "/activities/<%= a._id %>"><%= a.title %></a>
                    <%= a.category %>
                    <% if(a.location) { %>
                        <%= a.location %>
                    <% } %>
                </div>
            <% } %>
        <% }) %>
        
        <% if(user) { %>
            <a href = "/activities/new">Add New Activity</a>
        <% } %>
    </div>

    <!-- After Date model is set up, add "Your Date Plans" and "Add Date Plan" below, same format. -->

    <% if (user) { %>
        <div class = "dates-grid">
            <h2>Your Date Night Plans</h2>
            <% dateplans.forEach(function(d) { %> 
                <%= d.title %>
            <% }) %> 
            <a href = "/dateplans/new">Add New Date Plan</a>
        </div>
        <% } %>
</div>
<%- include('./partials/footer') %>
