<%- include('../partials/header') %>

<div class="content browse-page date-plans">
    <h1><%= title %></h1>
    <div class="dateplan-grid">
        <table>
            <thead>
                <tr>
                    <th>Date Plan</th>
                    <th>Date</th>
                    <th><% if (user) { %>
                        People
                    <% } %>  </th>
                    <th id="browse-all-act-column">Activities</th>
                </tr>
            </thead>
            <tbody>
                <% dateplans.forEach(function(d) { %>
                    <% if(d.public || (user && user._id.equals(d.user))) { %> 
                        <tr>
                            <td>
                                <a href= "/dateplans/<%= d._id %>"><%= d.title %></a>
                            </td>
                            <td>
                                <% if (d.date) { %>
                                    <%= d.date.toDateString() %>
                                <% } %>
                            </td>
                            <td>
                                <% if (user) { %>
                                    <%= d.people %>
                                <% } %>
                            </td>
                            <td>
                                <% let actStr = ""; %>
                                <% d.activities.forEach(function(a) { %>
                                    <% console.log(a) %>
                                    <% actStr += `${a.activity.title}  |  `; %>
                                <% }) %>
                                <%= actStr %>
                            </td>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>
    </div>
    <form action = "/dateplans/new">
        <button type="submit">Add New Date Plan</button>
    </form>
</div>

<%- include('../partials/footer') %>
