<%- include('../partials/header') %>

<div class="content">

    <form action="/dateplans" method="POST">
        <label>Title:
          <input type="text" name="title">
        </label><br>
        <label>Date:
          <% let defaultDate = new Date() %>
          <% let dateString = `${defaultDate.getFullYear().toString()}-${(defaultDate.getMonth()+1).toString().padStart(2, '0')}-${defaultDate.getDate().toString().padStart(2, '0')}` %>
          <input type="date" name="date" value="<%= dateString %>">
        </label><br>
        <label>Location:
          <input type="text" name="location">
        </label><br>
        <label>Who's coming?
          <input type="text" name="people">
        </label><br>
        <label>Activities:
          <select name="activityId">
            <% activities.forEach(function(a) { %>
              <option value="<%= a._id %>"><%= a.title %>
              <% if(a.location) { %>
                – <%= a.location %>
              <% } %>
              </option>
            <% }) %>
          </select>
        </label><br>
        <input type="submit" value="Create Date Plan">
    </form>

</div>
<%- include('../partials/footer') %>
