<%- include('../partials/header') %>

<div class="content browse-page">
  <h1><%= title %></h1>
  <form action="/dateplans" method="POST">
    <table>
      <tr>
        <th>
          <label>Title:
        </th>
        <td>
            <input type="text" name="title">
          </label>
        </td>
      </tr>
      <tr>
        <th>
          <label>Date:
        </th>
        <td>
            <% let defaultDate = new Date() %>
            <% let dateString = `${defaultDate.getFullYear().toString()}-${(defaultDate.getMonth()+1).toString().padStart(2, '0')}-${defaultDate.getDate().toString().padStart(2, '0')}` %>
            <input type="date" name="date" value="<%= dateString %>">
          </label>
        </td>
      </tr>
      <tr>
        <th>
          <label>Location:
        </th>
        <td>
            <input type="text" name="location">
          </label>
        </td>
      </tr>
      <tr>
        <th>
          <label>Who's coming?
        </th>
        <td>
            <input type="text" name="people">
          </label>
        </td>
      </tr>
      <tr>
        <th id="edit-date-act-list-col">
          <label >Add activities to date (you can leave entries blank):
        </th>
        <td>
            <div class="activities-list">
              <% for(let i=1; i < 7; i++) { %>
                <%- `Activity #${i}` %>
                <%- `<select name="activityId${i}">` %>
                  <option></option>
                  <% activities.forEach(function(a) { %>
                    <option value="<%= a._id %>"><%= a.title %>
                    <% if(a.location) { %>
                      – <%= a.location %>
                    <% } %>
                    </option>
                  <% }) %>
                </select>&nbsp;&nbsp;&nbsp;Time: <%- `<input type="text" name="activityTime${i}">` %><br>
              <% } %> 
            </div>
          </label>
        </td>
      </tr>
      <tr>
        <th>
          <label>Notes: 
        </th>
        <td>
            <textarea name="notes"></textarea>
          </label>
        </td>
      </tr>
      <tr>
        <th>
          <label>Visibility:
        </th>
        <td>
            <div>
              <input type="radio" id="public" name="public" value="true" checked="checked">
              <label for="public">Public</label><br>
              <input type="radio" id="private" name="public" value="false">
              <label for="private">Private</label><br>
            </div>
          </label>
        </td>
      </tr>
    </table>
    <input type="submit" value="Create Date Plan">
  </form>
</div>
<%- include('../partials/footer') %>
