<%- include('../partials/header') %>

<div class="content browse-page">
    <% if(datePlan.public || (user && user._id.equals(datePlan.user))) { %>
        <h1><%= title %></h1>
        <table>
            <tr>
                <th>Date:</th>
                <% if(datePlan.date) { %>
                    <td><%= datePlan.date.toDateString() %></td>
                <% } %>
            </tr>
            <tr>
                <th>Location:</th>
                <td><%= datePlan.location %></td>
            </tr>
            <tr>
                <th>People:</th>
                <td><%= datePlan.people %></td>
            </tr>
            <tr>
                <th>Activities:</th>
                <td>
                    <% datePlan.activities.forEach(function(a) { %>
                        <%= a.time ? `${a.time}: ` : '' %><a href= "/activities/<%= a.activity._id %>"><%= a.activity.title %></a><br>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <th>Notes:</th>
                <td><%= datePlan.notes %></td>
            </tr>
            <% if(user) { %>
                <tr>
                    <th>Visible to Others?</th>
                    <td>
                        <% if (datePlan.public) { %>
                            Sure is!
                        <% } else { %>
                            Nope!
                        <% } %>
                    </td>
                </tr>
            <% } %>
            <tr>
                <th>Created by:</th>
                <td class="review-user">
                    <img alt="avatar" src="<%= datePlan.userAvatar %>" referrerpolicy="no-referrer" ><%= datePlan.userName %></td>
                </td>
            </tr>
        </table>
        <% if(user && user._id.equals(datePlan.user)) { %>

        <form action = "/dateplans/<%= datePlan._id %>/edit">
            <button type="submit">Edit Date Plan</button>
        </form>
        <form action = "/dateplans/<%= datePlan._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Date Plan</button>            
        </form>
        <% } %>
    <% } %>
</div>
<%- include('../partials/footer') %>
